extends layout

block content
    .container
        h1 About
        p This site was created to demo the capabilities of using the MEAN stack (MongoDB, Express, AngularJS, and Node.js) along various other technologies such as Bootstrap as the UI framework, Jade as the templating engine, Mongoose for object data mapping, Git for source control and deployment, and Heroku for hosting.
