extends layout

block content
    .container
        h1 Welcome to the CinLogic Timesheet Demo App
        p Timesheet Demo App is a simple app created as a reference implementation using:
        ul
            li <a href='http://nodejs.org'>Node.js</a>
            li <a href='http://expressjs.com'>Express</a>
            li <a href='http://angularjs.org'>AngularJS</a>
            li <a href='http://mongodb.org'>MongoDB</a>
            li <a href='http://getbootstrap.com'>Bootstrap</a>
        p To try it out, you can either:
            p 1. <a href='auth/register'>Register</a> to create your own account
            p - OR -
            p 2. <a href='auth/login'>Login</a> using the following demo credentials that have already been created
                ul
                    li Username: <strong>DemoUser</strong>
                    li Password: <strong>Timesheet</strong>



         