extends layout

block content
    .container
        .jumbotron
            h1 Welcome to the Cinlogic Timesheet Demo App
            p.text-center A simple demo app created using:
            ul.tech
                li
                    a(href='http://mongodb.org', title='MongoDB')
                        img(src='/images/mongodb-small.jpg', alt='MongoDB')
                li
                    a(href='http://expressjs.com', title='Express')
                        img(src='/images/express-small.png', alt='Express')
                li
                    a(href='http://angularjs.org', title='AngularJS')
                        img(src='/images/angularjs.png', alt='AngularJS')
                li
                    a(href='http://nodejs.org', title='NodeJS')
                        img(src='/images/nodejs-small.png', alt='NodeJS')
    .container
        .col-sm-6.box
            div
                h2 Existing User Login
                include ./includes/login.jade
        .col-sm-6.box
            div
                h2 New User Registration
                include ./includes/register.jade

         