extends layout

block content
    .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-12(ng-controller='projectsCtrl')
        div
            .main-activity.pull-right(ng-show='isLoading() || isSaving()')
                img(src='/images/ajax-loader.gif')
            h1 #{user ? user.username + "'s" : null} Projects
        table.table(ng-cloak)
            thead
                tr.header
                    th(colspan='2') Name
            tbody
                tr(ng-repeat='project in projects | orderBy: "name"')
                    td
                        a(ng-hide='isEditing()', href='#', ng-click='edit(project)') {{ project.name }}
                        div(ng-show='isEditing()')
                            div(ng-hide='isEditing(project)') {{ project.name }}
                            input.form-control.input-sm(ng-show='isEditing(project)', type='text', ng-model='project.name')
                    td.edit-action
                        div(ng-show='isEditing(project)')
                            a.edit-action(href='#', ng-click='save()') Save
                            a.edit-action(href='#', ng-click='cancel()') Cancel
                            a.edit-action(href='#', ng-really-message='Are you sure you want to delete this project?' ng-really-click='delete()') Delete
                tr(ng-hide='isEditing()')
                    td(colspan='2')
                        a(href='#', ng-click='add(project)') Add Project

block scripts
    script(src='/javascripts/controllers/projects.js')
    script(src='/javascripts/directives/ng-really.js')
